<!DOCTYPE html>
<head>
    <title>slip gaji</title>
    <meta charset="utf-8">
    <style>
        #judul{
            text-align:center;
        }

        #halaman{
            width: auto; 
            height: auto; 
            position: absolute; 
            border: 1px solid; 
            padding-top: 30px; 
            padding-left: 30px; 
            padding-right: 30px; 
            padding-bottom: 80px;
        }

    </style>

</head>

<body>
    <div id=halaman>
        <h3 id=judul>SURAT PERNYATAAN GAJI BULAN</h3>
        <hr>
        <table>
            <tr>
                <td style="width: 30%;">Kepada</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;">Arbrian Abdul Jamal</td>
            </tr>
            <tr>
                <td style="width: 30%;">Tempat, tanggal lahir</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;">Grobogan, 3 Maret 1993</td>
            </tr>
            <tr>
                <td style="width: 30%; vertical-align: top;">Alamat</td>
                <td style="width: 5%; vertical-align: top;">:</td>
                <td style="width: 65%;">Gondang Timur 2<br>Kota Semarang</td>
            </tr>
            <tr>
                <td style="width: 30%;">jabatan</td>
                <td style="width: 5%;">:</td>
                <td style="width: 65%;">Web Developer</td>
            </tr>
        </table>

        <p>Surat ini dibuat dengan sebenar-benarnya</p>

        <table border="2">
            <tr>
                <td height="30">Gaji Pokok</td>
                <td style="width: 20%;">Rp. 6.000.000,-</td>
            </tr>
            <tr>
                <td height="30">Absensi</td>
                <td style="width: 20%;">(Rp. 6.000.000,-)</td>
            </tr>
            <tr>
                <td height="30">Bonus</td>
                <td style="width: 20%;">Rp. 6.000.000,-</td>
            </tr>
            <tr>
                <td height="30">Tunjangan</td>
                <td style="width: 20%;">Rp. 6.000.000,-</td>
            </tr>
            <tr>
                <td height="30">Potongan</td>
                <td style="width: 20%;">(Rp. 6.000.000,-)</td>
            </tr>
            <tr>
                <td height="30">Jumlah Gaji yang Diterima</td>
                <td style="width: 20%;">Rp. 6.000.000,-</td>
            </tr>
        </table>
        <table>
            <tr>
                <td height="50" colspan="2"></td>
            </tr>
        </table>

        <div style="width: 50%; text-align: right; float: right;">Purwodadi, 20 Januari 2020 <br> Yang bertanda tangan,</div><br>
        <div style="width: 50%; text-align: right; float: right;"><img src="ttd.png" width="150px"></div><br><br>
        <div style="width: 50%; text-align: right; float: right;">Arbrian Abdul Jamal</div>
</body>

</html>